body {
    font-family: $font-primary;
    color: $color-gray-dark-2;
    font-weight: 300;
    line-height: 1.6;
}

%heading {
    font-family: $font-display;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
}

.heading2 {
    @extend %heading;
}

.heading-3 {
    @extend %heading;
}

.heading-4 {
    @extend %heading;
    font-size: 1.9rem;

    &--light {
        color: $color-gray-light-1;
    }

    &--dark {
        color: $color-gray-dark-1;
    }
}